<phpunit bootstrap="vendor/silverstripe/cms/tests/bootstrap.php" colors="true">
    <testsuite name="travistestmodule">
        <directory>tests/</directory>
    </testsuite>
    <coverage includeUncoveredFiles="true">
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <exclude>
            <directory suffix=".php">tests/</directory>
        </exclude>
    </coverage>
</phpunit>
